$font-poppin: 'Poppins', sans-serif;
$bg: rgba(196, 196, 196, 0.3);

$clr-gray: #5b5b5b;
$clr-gray-light: #eff0f8;
$clr-black: #0d1317;
$clr-blue: #232ed1;
$clr-blue-dark: #000cb8;

$clr-orange: #f24c27;
$clr-white: #ffffff;
$clr-red: #f24c27;

$clr-black: #0d1317;

$scroll-thumb-color: hsl(190, 12%, 75%);
$scroll-bar-color: hsl(190, 12%, 90%);
$text-color-light: hsl(190, 8%, 60%);
