@use 'abstracts' as *;
@use 'page' as *;
@use 'base' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  font-family: $font-poppin;
  text-decoration: none;
  color: $clr-black;
  outline: none;
  font-weight: 500;
}

h1 {
  font-family: $font-poppin;
  font-size: clamp(4rem, 3.5vw, 6.3rem);
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  color: $clr-black;
}

h2 {
  font-family: $font-poppin;
  font-size: clamp(3.2rem, 3vw, 4.8rem);
  font-weight: 600;
  line-height: 1.2em;
  /* or 117% */
  letter-spacing: -0.03em;

  color: $clr-white;
}

p {
  font-family: $font-poppin;
  font-size: 1.8rem;
  color: $clr-gray;
  line-height: 171%;
  font-weight: 500;
}

h3 {
  font-family: $font-poppin;
  font-size: clamp(1.8rem, 1.2vw, 2.4rem);
  font-weight: 500;
  line-height: 1.5em;
}

body,
input,
textarea {
  font-size: 1.8rem;
  font-family: $font-poppin;
  color: $clr-black;
}

textarea {
  resize: none;
}

input,
textarea {
  width: 100%;
}

/* =================== SCROLL BAR ===================== */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $scroll-bar-color;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb-color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $text-color-light;
}
