@use '../abstracts' as *;

.not-found__section {
  background: $bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }

  .text-blue {
    color: $clr-blue;
    line-height: 106.5%;
    /* or 19px */
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.03em;
  }

  p {
    text-align: center;
    line-height: 171%;
  }
}
